body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b1d0e;
  font-family: "VT323", monospace;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* THE BOX LOOK */
#gameBoard {
  background: #7a6f52;
  border: 6px solid #3b2a16;
  box-shadow: 10px 10px 0 #000;
  image-rendering: pixelated;
}

#scoreText {
  font-family: "VT323", monospace;
  font-size: 30px;
}

#resetBtn {
    font-family: "VT323", monospace;
    font-size: 25px;
    width: 100px;
    height: 38px;
    border: 3px solid;
    border-radius: 15px;
    cursor: pointer;
}
