body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b1d0e;
  font-family: "VT323", monospace;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topBar {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

/* Score styling */
#scoreText {
  font-size: 28px;
  color: #f5d7a1;
  text-shadow: 2px 2px 0 #000;
}

#title {
  font-size: 60px;
  color: #f5d7a1;
  margin-bottom: 5px;
  text-shadow: 3px 3px 0 #000;
  letter-spacing: 2px;
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameBoard {
  background: #7a6f52;
  border: 6px solid #3b2a16;
  box-shadow: 10px 10px 0 #000;
  image-rendering: pixelated;
}

#scoreText {
  font-family: "VT323", monospace;
  font-size: 40px;
}
